/*
------------------------------------------------------------------------------------------------------------------
*/

@font-face {
    font-family: 'Outfit-reg';
    src: url('../static/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-bold';
    src: url('../static/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*
------------------------------------------------------------------------------------------------------------------
*/

:root {
    /* fonts */
    --font-outfit-reg: Outfit-reg;
    --font-outfit-bold: Outfit-bold;
    --font-roboto: Roboto;

    /* font sizes */
    --h1-size: 56px;

    /* Colors */
    --color-midnightblue: #06053e;
    --color-white: #ffffff;
    --color-cornflowerblue: #8080d7;
    --color-peachpuff: #ffc2b0;
    --color-paleturquoise: #82f8f8;
    --color-pink: #e19ee5;
    --color-plum: #c499f3;
    --color-darkcyan: #009b9b;
    --color-purple: #7500ac;
    --color-darkpurple: #2d0042;
    --color-brightpink: #f700ff;
}

/*
------------------------------------------------------------------------------------------------------------------
*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* CSS RESET */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 68.5%;
    font-family: 'Outfit', 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
        font-family:'Outfit', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-midnightblue);
}


/* JS Countdown */
#countdown {
    border: 8px dotted var(--color-purple);
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: var(--font-outfit-bold);
    text-align: center;
    font-size: 24px;
}

/*ANIMATION DISPLAYS*/

